@charset "UTF-8";
body { 
    background-color: rgb(0, 0, 0);
   
}
/*.wrapper{
    padding: 10px;
    margin: 0;
     
    box-sizing: border-box;
}*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*to add style to the wrapper class*/
.wrapper{
    width: 960px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 0 4rem;
    font-family: Verdana, Geneva, Arial, sans-serif;
    text-align: center;
}
h1{
    color: red;
    font-size: 50px;
    margin-bottom: 0.2px;
}
h2{
    color: red;
    font-size: 25px;
    margin-bottom: 0.1px;
}
/*picture size on the page*/
.photo{
    width: 960px;
}
/*font style within*/
p{
    color: red;
    font-size: medium;
    line-height: normal;
    margin-bottom: 5px;
}
/*to create a hovering effect on the headings and para. */
h1:hover{
    background-color: rgba(21, 20, 18, 0.753);
}
h2:hover{
    background-color: rgba(21, 20, 18, 0.753);
}
p:hover{
    background-color: rgba(21, 20, 18, 0.753);
}
.vid{
    display: inline-block;
    padding: 10px;
    background-color: red;
    font-size: small;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}
.vid:hover{
    background-color: rgb(245, 141, 4);
}
h5{
    color: aliceblue;
    text-align: center;
}
/*to style the homepage nav*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;

}
nav ul li a{
    color:whitesmoke;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}
/*the page name underlined*/
nav ul li a::after{
    content:'';
    width: 0;
    height: 5px;
    background: rgb(255, 2, 2);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.7s;
}
/* the size of the line ^*/
nav ul li a:hover::after{
    width: 100%;
}