body{
    background-color: black;
    color: red;
}
.box 
{ 
    height: 250px; 
    width: 250px;
    float: left;
    background-color:rgb(255, 0, 0); 
    margin: 15px; 
    opacity:.5; 
    text-align-last: center;
    font-size: large;
   
} 
.box:hover 
{ 
    background-color:rgb(245, 141, 4); 
    opacity:2; 
} 
h1{
    text-align-last: center;
    font-weight: bold;
}
p{
    text-align-last: center;
    font-weight: bold;
}