@charset "UTF-8";
body {
color: rgba(170, 34, 34, 0.837);
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
background: linear-gradient(to left, rgb(143, 104, 30), rgb(14, 14, 13) 30%90%);
}
h1,h2,h5,h6,p,li {
margin-left:15px;
margin-top:0px;
}
/*about me page*/
.wrapper{
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to left, rgb(143, 104, 30), rgb(14, 14, 13) 30%90%);
}
/*homepage*/
#wrapper {
width: 100%;
height: 800px;
margin-left: auto;
margin-right: auto;
background: linear-gradient(to left, rgb(116, 23, 23), rgb(14, 14, 13) 30%90%);
}
#banner{
height:60px;
background-color:rgba(21, 3, 3, 0.801);
}
.box {
width: 95%;
min-height:120px;
float: center;
background-color:rgb(0, 0, 0); 
margin: 15px; 
opacity:1; 
text-align-last: center;
font-size: 18px;
}
.vid {
font-size:small;
text-decoration:none;
background-color:rgb(147, 109, 33);
display:block;
width:25%;float:left;
padding:8px;
margin:5px;
border-radius:30px;
box-shadow:5px 5px 3px rgb(17, 12, 12);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;

}
nav ul li a{
    color:rgb(255, 253, 253);
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
.clear{
clear: both;
}
#footer{
    text-align:center;
}